@model IEnumerable<SchoolForum.Models.CategoryMessagesVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index (List of MESSAGES in the category)</h2>

<h4>Selected Category:  @ViewBag.CatName</h4>




@if (Model != null)
{
    
    <table class="table">
        <tr>         
            <th>
                @Html.DisplayNameFor(model => model.MessageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDateTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDateTime)
                </td>
                <td>
                    @Html.ActionLink("Reply", "Create", "Replies", new { id = item.MessageId }, null) |
                    @Html.ActionLink("View Replies", "Index", "Replies", new { id = item.MessageId }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                </td>
            </tr>
        }
      
    </table>
}
